lib/assets/data_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataSchema">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="UserElement" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="fname"/>
            <xs:element type="xs:string" name="lname"/>
          </xs:sequence>
          <xs:attribute type="xs:integer" name="userId" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:complexType>
  </xs:element>
</xs:schema>
