lib/assets/data_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" name="description" type="xs:string"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="term"/>
      </xs:sequence>
      <xs:attribute name="semanticMapURL" type="xs:string" use="optional"/>
      <xs:attribute name="pictureURL" type="xs:string" use="optional"/>
      <xs:attribute name="VocabDateFrom" type="xs:string" use="optional"/>
      <xs:attribute name="VocabDateTo" type="xs:string" use="optional"/>
      <xs:attribute name="VocabDateAnnotation" type="xs:string" use="optional"/>
      <xs:attribute name="VocabProvenance" type="xs:string" use="optional"/>
      <xs:attribute name="VocabDateCertainty" type="xs:string" use="optional"/>
      <xs:attribute name="VocabType" type="xs:string" use="optional"/>
      <xs:attribute name="VocabMaker" type="xs:string" use="optional"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataSchema">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="RelationshipElement">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element minOccurs="0" name="parent" type="xs:string"/>
              <xs:element minOccurs="0" name="child" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="bundle" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appendCharacterString"/>
                    <xs:element minOccurs="0" name="lookup">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" minOccurs="0" ref="term"/>                          
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="optional"/>
                  <xs:attribute name="name" type="xs:string" use="optional"/>
                  <xs:attribute name="minCardinality" type="xs:byte" use="optional"/>
                  <xs:attribute name="isIdentifier" type="xs:string" use="optional"/>
                  <xs:attribute name="maxCardinality" type="xs:string" use="optional"/>
                  <xs:attribute name="file" type="xs:string" use="optional"/>
                  <xs:attribute name="thumbnail" type="xs:string" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="semanticMapURL" type="xs:string" use="optional"/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="xs:string" use="optional"/>
            <xs:anyAttribute processContents="skip"/>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="ArchaeologicalElement">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="description" type="xs:string"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="property">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="formatString" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bundle" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appendCharacterString"/>
                    <xs:element minOccurs="0" name="lookup">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
                          <xs:element maxOccurs="unbounded" minOccurs="0" ref="term"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="optional"/>
                  <xs:attribute name="name" type="xs:string" use="optional"/>
                  <xs:attribute name="minCardinality" type="xs:byte" use="optional"/>
                  <xs:attribute name="maxCardinality" type="xs:string" use="optional"/>
                  <xs:attribute name="isIdentifier" type="xs:string" use="optional"/>
                  <xs:attribute name="file" type="xs:string" use="optional"/>
                  <xs:attribute name="thumbnail" type="xs:string" use="optional"/>
                  <xs:anyAttribute processContents="skip"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="semanticMapURL" type="xs:string" use="optional"/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
            <xs:attribute name="type" type="xs:string" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="preparer" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>